<style>
  .b-content > .scroll {
    height: 100%;
  }
</style>
<ion-view class="b-view">
  <ion-nav-bar class="b-header-bar">
  </ion-nav-bar>
  <ion-header-bar class="b-header-bar" align-title="left">
    <span ng-click="back()" class="b-header-bar__button b-header-bar__button--left ion-ios7-arrow-left"></span>
    <h4 class="b-header-bar__title b-media">
    <i class="b-media__icon b-media__icon--small ion-code"></i>Console
    </h4>
  </ion-header-bar>
  <ion-content class="has-header b-content">
    <iframe ng-src="{{term}}" frameborder="0" class="b-term-iframe"></iframe>
  </ion-content>
</ion-view>