<ion-view ion-pane class="b-view">
  <ion-nav-bar class="b-header-bar">
    <ion-nav-back-button class="b-back-button">
      <span class="b-header-bar__button b-header-bar__button--left ion-ios7-arrow-left"></span>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-header-bar class="b-header-bar" align-title="left">
    <span ng-click="back()" class="b-header-bar__button b-header-bar__button--left ion-ios7-arrow-left"></span>
    <h4 class="b-header-bar__title b-media">
      <i class="b-media__icon b-media__icon--small ion-fireball" ng-class="{'w-container__icon--active': container.worker.status == 'running'}"></i>{{container.name}}
    </h4>
    <a ng-href="/#/console" class="b-header-bar__button b-header-bar__button--right">
      <img src="images/ssh-terminal.png" alt="">
    </a>
  </ion-header-bar>
  <ion-content class="has-header b-content">
    <div class="b-list-group">
      <div class="b-list-group__item">
        <h5 class="b-list-group__title">App Info</h5>
        <ul class="b-list">
          <li class="b-list__item b-media white">
            <span class="b-media__icon b-media__icon--medium ion-ios7-bolt-outline"></span>
            <span class="b-media__text">Name: {{container.name}}</span>
          </li>
          <li class="b-list__item b-media white">
            <span class="b-media__icon b-media__icon--medium ion-ios7-person-outline"></span>
            <span class="b-media__text">Owner: {{currentUser.name}}</span>
          </li>
          <!-- /.b-list__item b-media white -->
        </ul>
        <!-- /.b-list -->
      </div>
      <!-- /.b-list-group__item -->
    </div>
    <!-- /.b-list-group -->
    <div class="b-list-group">
      <div class="b-list-group__item">
        <h5 class="b-list-group__title b-media" ng-if="container.worker.status == 'running'">
          Stop
          <i ng-click="stopContainer()" class="b-media__icon b-media__icon--medium b-media__icon--right ion-stop w-container__control--stopped" ng-cloak></i>
        </h5>
        <h5 class="b-list-group__title b-media" ng-if="container.worker.status == 'stopped'">
          Run
          <i ng-click="runContainer()" class="b-media__icon b-media__icon--medium b-media__icon--right ion-play" ng-cloak></i>
        </h5>
      </div>
      <!-- /.b-list-group__item -->
    </div>
    <!-- /.b-list-group -->
    <div class="b-list-group">
      <div class="b-list-group__item">
        <h5 class="b-list-group__title">Network info</h5>
        <ul class="b-list">
          <li class="b-list__item b-nav-list__item b-media white" ng-show="container.worker.app">
            <span class="b-media__icon b-media__icon--medium ion-ios7-eye-outline"></span>
            <a ng-href="{{domain}}:{{container.worker.app}}" class="b-media__text">App Url: {{domain}}:{{container.worker.app}}</span>
          </li>
          <!-- <li class="b-list__item b-nav-list__item b-media white" ng-show="container.worker.app">
            <span class="b-media__icon b-media__icon--medium ion-ios7-eye-outline"></span>
            <span class="b-media__text">Term Url: {{domain}}:{{container.worker.term}}</span>
          </li> -->
          <!-- /.b-list__item b-media white -->
        </ul>
        <!-- /.b-list -->
      </div>
      <!-- /.b-list-group__item -->
    </div>
    <!-- /.b-list-group -->

  </ion-content>
</ion-view>