<ion-view ion-pane class="b-view">
  <ion-nav-bar class="b-header-bar">
    <ion-nav-back-button class="b-back-button">
      <span class="b-header-bar__button b-header-bar__button--left ion-ios7-arrow-left"></span>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-header-bar class="b-header-bar" align-title="left">
    <span ng-click="back()" class="b-header-bar__button b-header-bar__button--left ion-ios7-arrow-left"></span>
    <h4 class="b-header-bar__title b-media">
      <i class="b-media__icon b-media__icon--small ion-fireball" ng-class="{'w-container__icon--active': container.app.status == 'running'}"></i>{{container.name}}
    </h4>
    <a ng-href="/#/console" class="b-header-bar__button b-header-bar__button--right">
      <img src="images/ssh-terminal.png" alt="">
    </a>
  </ion-header-bar>
  <ion-content class="has-header b-content">
    <div class="b-list-group">
      <div class="b-list-group__item">
        <h5 class="b-list-group__title">App Info</h5>
        <ul class="b-list">
          <!-- <li class="b-list__item b-media white">
            <span class="b-media__icon b-media__icon--medium ion-ios7-bolt-outline"></span>
            <span class="b-media__text">Name: {{container.name}}</span>
          </li> -->
          <li class="b-list__item b-media white">
            <span class="b-media__icon b-media__icon--medium ion-ios7-person-outline"></span>
            <span class="b-media__text">Owner: {{currentUser.name}}</span>
          </li>
          <li class="b-list__item b-media white">
            <span class="b-media__icon b-media__icon--medium ion-ios7-bolt" ng-class="{'w-container__icon--active': container.app.status == 'running'}"></span>
            <span class="b-media__text">Status: {{container.app.status}}</span>
            <i ng-show="container.app.status === 'running'" ng-click="stopApplication()" class="b-media__icon b-media__icon--medium b-media__icon--right ion-ios7-pause w-container__control--stopped" ng-cloak></i>
            <i ng-show="container.app.status === 'stopped'"ng-click="runApplication()" class="b-media__icon b-media__icon--medium b-media__icon--right ion-ios7-play" ng-cloak></i>
          </li>
          <!-- /.b-list__item b-media white -->
        </ul>
        <!-- /.b-list -->
      </div>
      <!-- /.b-list-group__item -->
    </div>
    <!-- /.b-list-group -->
    <div class="b-list-group" ng-show="container.app.port">
      <div class="b-list-group__item">
        <h5 class="b-list-group__title">
          <a ng-href="{{domain}}:{{container.app.port}}" class="b-media">
            Preview
            <span class="b-media__icon b-media__icon--medium ion-eye" ng-class="{'w-container__icon--active': container.app.status == 'running'}"></span>
          </a>
        </h5>
      </div>
      <!-- /.b-list-group__item -->
    </div>
    <!-- /.b-list-group -->

  </ion-content>
  <ion-footer-bar class="w-terminal-footer">
    <div class="b-footer-group">
      <h5 class="b-list-group__title b-media">
        Terminal ({{container.term.status}})
        <i ng-show="container.term.status === 'running'" ng-click="stopTerminal()" class="b-media__icon b-media__icon--medium b-media__icon--right ion-ios7-pause w-container__control--stopped" ng-cloak></i>
        <i ng-show="container.term.status === 'stopped'"ng-click="runTerminal()" class="b-media__icon b-media__icon--medium b-media__icon--right ion-ios7-play" ng-cloak></i>
      </h5>
      <iframe id="w-terminal" ng-src="{{term}}" frameborder="0" class="b-term-iframe"></iframe>  
    </div>
  </ion-footer-bar>
</ion-view>