<ion-content class="aligner">
  <div class="b-form aligner__item">
    <div class="b-logo">
      <span class="ion-ios7-bolt-outline white b-heading b-heading_level_beta"></span>
      <div class="b-heading b-heading_level_echo white thin">whim</div>
    </div>
    <a ng-href="/auth/github" class="b-button b-button--outline white">
      <span class="b-button__icon ion-social-github-outline medium"></span>
      <span type="submit" class="b-button__text b-button__text">Login via Github</span>
    </a>
  </div>
</ion-content>
