doctype html
html(lang=en)
  head
    title whim
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height")
    link(rel="stylesheet" href="public/vendors/codemirror/lib/codemirror.css")