<ion-view ion-pane class="b-view">
  <ion-side-menus ng-controller="LoginCtrl">
    
    <ion-pane ion-side-menu-content class="b-pane">
      <ion-nav-view animation="slide-left-right" class="b-nav-view"></ion-nav-view>
    </ion-pane ion-side-menu-content>
    
    <ion-side-menu side="left" class="b-sidenav b-sidenav--left">
      <div class="b-list-group">
        <div class="b-list-group__item">
          <h5 class="b-list-group__title">Help</h5>
          <ul class="b-list b-nav-list">
            <li class="b-list__item b-nav-list__item b-media white">
              <span class="b-media__icon b-media__icon--medium ion-ios7-bookmarks-outline"></span>
              <span class="b-media__text">Documentation</span>
            </li>
            <li class="b-list__item b-nav-list__item b-media white">
              <span class="b-media__icon b-media__icon--medium ion-ios7-chatboxes-outline"></span>
              <span class="b-media__text">Send Feedback</span>
            </li>
            <!-- /.b-list__item b-media white -->
          </ul>
          <!-- /.b-list -->
        </div>
        <!-- /.b-list-group__item -->
      </div>
      <!-- /.b-list-group -->
      <div class="b-list-group">
        <div class="b-list-group__item">
          <h5 class="b-list-group__title">Whim</h5>
          <ul class="b-list b-nav-list">
            <li class="b-list__item b-nav-list__item b-media white">
              <span class="b-media__icon b-media__icon--medium ion-ios7-information-outline"></span>
              <span class="b-media__text">About</span>
            </li>
            <li class="b-list__item b-nav-list__item b-media white">
              <span class="b-media__icon b-media__icon--medium ion-social-github-outline"></span>
              <span class="b-media__text">Source</span>
            </li>
            <!-- /.b-list__item b-media white -->
          </ul>
          <!-- /.b-list -->
        </div>
        <!-- /.b-list-group__item -->
      </div>
      <!-- /.b-list-group -->
      <div class="b-list-group">
        <div class="b-list-group__item">
          <h5 class="b-list-group__title">User</h5>
          <ul class="b-list b-nav-list">
            <li class="b-list__item b-nav-list__item white">
              <a ng-href="/#/container" class="b-media">
                <span class="b-media__icon b-media__icon--medium  ion-flask"></span>
                <span class="b-media__text">Containers</span>
              </a>
            </li>
            <li class="b-list__item b-nav-list__item white">
              <a ng-href="/#/account" class="b-media">
                <span class="b-media__icon b-media__icon--medium ion-ios7-settings"></span>
                <span class="b-media__text">Account Explorer</span>
              </a>
            </li>
            <li class="b-list__item b-nav-list__item b-media white" ng-click="logout()">
              <span class="b-media__icon b-media__icon--medium ion-ios7-undo-outline"></span>
              <span class="b-media__text">Logout</span>
            </li>
            <!-- /.b-list__item b-media white -->
          </ul>
          <!-- /.b-list -->
        </div>
        <!-- /.b-list-group__item -->
      </div>
      <!-- /.b-list-group -->
    </ion-side-menu>
    <!-- /.b-sidenav b-sidenav--left -->
  </ion-side-menus>
</ion-view>