* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance:none;
  width:12px;
  _background-color:#f0f0f0;
}

::-webkit-scrollbar-thumb {
  border-radius:12px;
  border:6px solid rgba(255,255,255,0);
  background-clip:content-box;
  _background-color:#bfbfbf;
  background-color: #A0A0A0;
}
::-webkit-scrollbar-thumb:hover {
  border-radius:12px;
  border:6px solid rgba(255,255,255,0);
  background-clip:content-box;
  background-color:#A0A0A0;
}

::-webkit-scrollbar-corner {
  background-color:#e6e6e6;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/*
  prefix: .b-;
*/

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-weight: 100;
}

h3, h4, h5, h6 {
  font-weight: 300;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  color: #f0f0f0;
}

.b-body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.b-body.grey {
  background: rgb(63, 63, 63);
}

.vflex {
  display: flex;
  flex-direction: column;
}

.hflex {
  display: flex;
  flex-direction: row;
}

.b-container {
  background-image: url('../images/bg.png');
  background-size: cover;
  flex: 1;
  -webkit-flex: 1;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.b-container:after {
  content: "";
  background: rgba(0,0,0,0.70);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.b-container > * {
  z-index: 10;
}

.b-sidenav {
  background: #151312;
  height: 100%;
  border: none;
}

.b-nav-list__item {
  height: 48px;
}

.b-nav-view {
  background: #282524;
}

.b-view {
  background: transparent;
}

.b-pane {
  background: #282524;
  box-shadow: -4px 0 0 rgba(0,0,0,0.18) !important;
  border: none !important;
  right: 0px !important;
  left: 0px !important;
}

.b-content {

}

.has-header {
  top: 48px;
}

.menu-open .b-pane {
  pointer-events: auto !important;
}

.b-logo {
  text-align: center;
  margin-bottom: 2em;
}

.b-logo--vertical {}

.b-button {
  text-align: center;
  padding: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  transition: ease-in-out all 0.2s;
}

.b-button--outline {
  border: 1px solid;
}

.b-button--outline.white {
  border-color: white;
  color: white;
}

.b-button--outline.white:hover {
  background: #fff;
  border-color: rgb(69,69,69);
  color: rgb(69,69,69);
}

.b-button__icon {
  text-align: center;
  margin: 0 0.5em;
}

.b-button__text {
  flex: 1 0 0;
  margin-right: 0.5em;
}

.b-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.b-list-group__title {
  text-transform: uppercase;
  height: 42px;
  background: #1e1b19;
  line-height: 42px;
  color: #918c7f;
  border-bottom: 1px solid #2c2927;
  padding-left: 20px;
}

.b-list__item {
  border-top: 1px solid #2c2927;
}

.b-list__item:first-child {
  border-top: 0;
  border-bottom: 0;
}

.b-list__item:last-child {
  border-bottom: 1px solid #2c2927;
}


.b-list__item_repo {
  height: 48px;
  border-color: #615d54;
}

.b-list__item_repo:last-child {
  border-color: #615d54;
}

.b-list-group__parent {
  border-bottom: 1px solid #615d54;
}

.b-list-parent__group {
  border-bottom: 1px solid #615d54;
}

.b-list-parent__title {
  color: #f0f0f0;
  border-left: 1px solid #615d54;
  height: 48px;
  padding-left: 20px;
  line-height: 48px;
}

.b-list-child {
  margin-left: 48px;
  border-left: 1px solid #615d54;
 
}

.b-list-child__item {
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
  border-top: none;
  border-bottom: 1px solid #615d54;
}

.b-list-child__item:last-child {
  border-bottom: none;
}

/* app header */
.b-header-bar {
  background: #3c3835;
  height: 48px;
  padding: 0;
  border-bottom: 1px solid #0f0f0f;
}

.b-header-bar__button {
  background: transparent;
  border: none;
  color: #f0ebd1;
  height: 48px;
  width: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 2.4em;
  z-index: 1;
}

.b-header-bar__button--right {
  border-left: 1px solid #0f0f0f;
  border-right: none;
  position: absolute;
  right: 0;
}

.b-header-bar__button > img {
  height: 30px;
  width: 30px;
  line-height: 30px;
}

.b-header-bar__title {
  height: 100%;
  color: #f0ebd1;
  line-height: 48px;
  padding-left: 12px;
  border-left: 1px solid #0f0f0f;
}


.b-back-button {
  background: transparent;
  border: none;
  color: #f0ebd1;
  height: 48px;
  width: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 2.4em;
}

.b-term-iframe {
  width: 100%;
  height: 100%;
  background: #1e1b19;
}

/* utils */

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.b-media {
  display: flex;
  align-items: center;
  position: relative;
}

.b-media--top {
  align-items: flex-start;
}

.b-media--bottom {
  align-items: flex-end;
}

.b-media__icon {
  text-align: center;
}

.b-media__text {

}

.b-media__icon_repo {
  border-right: 1px solid #615d54;
}

.b-media__icon--left {
  position: absolute;
  left: 0;
}

.b-media__icon--right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  right: 0;
}

.b-media__text_repo {
  padding-left: 12px;
}

.b-media__icon--small {
  font-size: 1.2em;
  height: 24px;
  width: 24px;
  line-height: 24px;
}

.b-media__icon--medium {
  font-size: 2em;
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.b-media__icon--medium > img {
  height: 42.857142857%;
}

.b-media__icon_img {}

.b-media__icon_img.b-media__icon--medium {
  height: 70px;
}

.b-media__icon--large {
  font-size: 2.4em;
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.b-media__icon_img > img {
  height: inherit;
}

/* colors */

.white {
  color: #f0f0f0;
}

/* weight */
.thin {
  font-weight: 100;
}

/* headings */
.b-heading {
  line-height: 1em;
}

.b-heading_level_alpha {
  font-size: 7em;
}

.b-heading_level_beta {
  font-size: 6em;
}

.b-heading_level_charlie {
  font-size: 5em;
}

.b-heading_level_delta {
  font-size: 4em;
}

.b-heading_level_echo {
  font-size: 3em;
}

.b-heading_level_fanta {
  font-size: 2em;
}

/* font size */
.smallest {
  font-size: 0.6em;
}

.small {
  font-size: 0.8em;
}

.medium {
  font-size: 1.2em;
}

.w-container__icon--active {
  color: #ffcc00;
}

.w-container__control--stopped {
  color: #cc3238;
}

.w-terminal-footer {
  height: 330px;
  padding: 0;
  border-top: none !important;
}

.b-footer-group {
  width: 100%;
  height: 100%;
}

/* button animations */

.whim-b-toggle {
  background: transparent;
  border: none;
  outline: none;
  transition: .3s;
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: relative;
}

.whim-b-toggle__button {
  position: relative;
  display: flex;
  align-items: center;
}

.whim-b-toggle__icon {
  display: inline-block;
  width: 20px;
  height: 3px;
  background: #ccc;
  transition: 0.3s;
  position: relative; 
}

.whim-b-toggle__icon:before, .whim-b-toggle__icon:after {
  display: inline-block;
  width: 20px;
  height: 3px;
  background: #ccc;
  transition: 0.3s;
  position: absolute;
  left:0;
  content: '';
  transform-origin: 1px center;
}

.whim-b-toggle__icon:before {
  top: 5px;
}

.whim-b-toggle__icon:after {
  top: -5px;
}

.whim-b-toggle__checkbox {
  display: none;
}

.whim-b-toggle__checkbox:checked + .whim-b-toggle__label .whim-b-toggle__icon {
  background: transparent;
}

.whim-b-toggle__checkbox:checked + .whim-b-toggle__label .whim-b-toggle__icon:before,
.whim-b-toggle__checkbox:checked + .whim-b-toggle__label .whim-b-toggle__icon:after {
  transform-origin: 50% 50%;
  top:0;
  width: 20px;
}

.whim-b-toggle__checkbox:checked + .whim-b-toggle__label .whim-b-toggle__icon:before {
  transform: rotate3d(0,0,1,45deg);
}

.whim-b-toggle__checkbox:checked + .whim-b-toggle__label .whim-b-toggle__icon:after {
  transform: rotate3d(0,0,1,-45deg);
}


/* override ionic */

.bar .title {
  height: 48px;
  line-height: 48px;
  padding-left: 12px;
  border-left: 1px solid #0f0f0f;
  text-align: left;
}